---
import "@styles/main.css"
import Logo from "@components/Logo.tsx"
import Links from "@components/Links/Links.tsx"
import type { Page } from "@components/Links/types.ts"
import { FaGithub, FaLinkedin } from "react-icons/fa6"
import { FaTelegramPlane } from "react-icons/fa"

import montserratUrl from "@fontsource-variable/montserrat/files/montserrat-latin-wght-normal.woff2?url"
import kanitUrl from "@fontsource/kanit/files/kanit-latin-400-normal.woff2?url"
import interUrl from "@fontsource-variable/inter/files/inter-latin-wght-normal.woff2?url"

interface BaseLayoutLang {
  description?: string
  ogDescription?: string
  ogImage: string
  ogUrl: string
  twitterDescription?: string
  twitterImage?: string
  pages?: Page[]
  footer?: string
  lang: string
}

interface LayoutProps {
  pageName?: string
  className?: string
  baseLang?: BaseLayoutLang
}

const {
  pageName = "",
  className,
  baseLang = {
    description:
      "This is the portfolio of Mauricio Rodríguez, Systems Engineering student and developer. Here you'll find projects, information about me, and how to contact me.",
    ogDescription: "This is the portfolio of Mauricio Rodríguez, Systems Engineering student and developer.",
    ogImage: "/portfolio-img.webp",
    ogUrl: "https://immau14.vercel.app",
    twitterDescription:
      "This is the portfolio of Mauricio Rodríguez, Systems Engineering student and developer. Here you'll find projects, information about me, and how to contact me.",
    twitterImage: "/portfolio-img.webp",
    pages: [
      { name: "Home", href: "/" },
      { name: "Projects", href: "/projects" },
      { name: "About", href: "/about" },
      { name: "Contact", href: "/contact" },
    ],
    footer: '© 2025 · Mauricio "ImMau14" Rodríguez · All rights reserved',
    lang: "en",
  },
} = Astro.props as LayoutProps
---

<!doctype html>
<html lang={baseLang.lang} class="w-full">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <link rel="preload" href={montserratUrl} as="font" type="font/woff2" crossorigin="anonymous" />
    <link rel="preload" href={kanitUrl} as="font" type="font/woff2" crossorigin="anonymous" />
    <link rel="preload" href={interUrl} as="font" type="font/woff2" crossorigin="anonymous" />

    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageName && pageName !== "" ? `${pageName} · ImMau14` : "ImMau14"}</title>

    <meta name="description" content={baseLang.description} />

    <meta property="og:title" content={pageName ? `${pageName} · ImMau14` : "ImMau14"} />
    <meta property="og:description" content={baseLang.ogDescription} />
    <meta property="og:image" content={baseLang.ogUrl + baseLang.ogImage} />
    <meta property="og:url" content={baseLang.ogUrl} />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_En" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={pageName ? `${pageName} · ImMau14` : "ImMau14"} />
    <meta name="twitter:description" content={baseLang.twitterDescription} />
    <meta name="twitter:image" content={baseLang.ogUrl + baseLang.twitterImage} />

    <meta name="theme-color" content="#0f1011" />
  </head>
  <body class="scrollbar flex min-h-screen w-full flex-col bg-gray-200 dark:bg-silver-950">
    <header
      class="relative z-20 flex h-16 w-full items-center justify-between border-b-2 border-gray-400/60 bg-gradient-to-t from-gray-200 via-silver-300 to-silver-300 p-8 shadow-sm after:pointer-events-none after:absolute after:bottom-0 after:left-0 after:h-3 after:w-full after:bg-gradient-to-t after:from-silver-50/50 after:to-transparent md:h-20 dark:border-silver-800 dark:bg-gradient-to-r dark:from-silver-1000 dark:via-silver-950 dark:to-silver-900 dark:shadow-none dark:after:hidden dark:md:border-silver-700 dark:md:from-silver-950 dark:md:via-silver-900 dark:md:to-silver-850"
    >
      <div class="flex items-center gap-4">
        <a href={`/${baseLang.lang}`} aria-label="ImMau14 Logo">
          <Logo className="w-6 md:w-8 dark:hidden" />
          <Logo className="hidden w-6 md:w-8 dark:inline-block" theme="dark" />
        </a>
        <a href={`/${baseLang.lang}`}
          ><h2
            class="flex flex-col bg-gradient-to-b from-gray-950 via-gray-950 to-gray-800 bg-clip-text font-logo text-xl font-bold text-transparent md:text-xl dark:from-gray-100 dark:via-gray-100 dark:to-gray-200"
          >
            ImMau14
          </h2></a
        >
      </div>

      <nav class="flex text-gray-100">
        <Links pages={baseLang.pages || []} client:load />
      </nav>
    </header>

    <main class={className ? `flex-1 ${className}` : "flex-1"}>
      <slot />
    </main>

    <footer
      class="relative flex h-24 w-full flex-col items-center justify-center gap-2 border-t-2 border-gray-400/60 bg-gradient-to-r from-gray-100 via-silver-300 to-silver-300 p-4 before:pointer-events-none before:absolute before:left-0 before:top-0 before:h-4 before:w-full before:bg-gradient-to-b before:from-silver-800/5 before:to-transparent md:h-20 md:flex-row md:justify-between md:gap-4 md:p-8 dark:border-silver-800 dark:from-silver-1000 dark:via-silver-950 dark:to-silver-900 md:dark:border-silver-700 md:dark:from-silver-950 md:dark:via-silver-900 md:dark:to-silver-850"
    >
      <p class="text-center font-body text-sm text-gray-800 md:text-left dark:text-gray-400">
        {baseLang.footer}
      </p>
      <div class="flex items-center gap-4 md:gap-6">
        <a
          href="https://linkedin.com/in/ImMau14"
          target="_blank"
          rel="noopener noreferrer"
          class="text-2xl text-gray-800 transition-colors duration-150 hover:text-black dark:text-gray-400 dark:hover:text-white"
          aria-label="LinkedIn profile"><FaLinkedin client:visible /></a
        >
        <a
          href="https://github.com/ImMau14"
          target="_blank"
          rel="noopener noreferrer"
          class="text-2xl text-gray-800 transition-colors duration-150 hover:text-black dark:text-gray-400 dark:hover:text-white"
          aria-label="GitHub profile"><FaGithub client:visible /></a
        >
        <a
          href="https://t.me/l0mauu"
          target="_blank"
          rel="noopener noreferrer"
          class="text-2xl text-gray-800 transition-colors duration-150 hover:text-black dark:text-gray-400 dark:hover:text-white"
          aria-label="Telegram contact"><FaTelegramPlane client:visible /></a
        >
      </div>
    </footer>
  </body>
</html>
