---
import { getCollection, getEntry, render } from "astro:content"
import BaseLayout from "@layouts/BaseLayout.astro"
import RepoCard from "@components/RepoCard.tsx"
import { IoMdArrowRoundBack } from "react-icons/io"
import type { CollectionEntry, DataEntryMap } from "astro:content"
import { defaultLocale } from "@content/utils"

async function getEntryOrFallback<C extends keyof DataEntryMap>(
  collection: C,
  id: string,
  fallbackLang = defaultLocale,
): Promise<CollectionEntry<C>> {
  const entry = (await getEntry(collection, id)) as CollectionEntry<C> | undefined
  if (entry) return entry

  const fallbackId = id.replace(/^.*?\//, `${fallbackLang}/`)
  const fallbackEntry = (await getEntry(collection, fallbackId)) as CollectionEntry<C> | undefined
  if (fallbackEntry) return fallbackEntry

  throw new Error(`Entry not found for ${id} and fallback ${fallbackId}`)
}

export async function getStaticPaths() {
  const entries = await getCollection("projects")

  return entries.map((e) => {
    const parts = e.id.split("/")
    const lang = parts.shift()

    if (parts[0] === "project") parts.shift()
    const slug = parts.length ? parts.join("/") : undefined
    const cleanSlug = slug?.replace(/\.md$/i, "")

    return {
      params: {
        lang,
        slug: cleanSlug,
      },
      props: { entryId: e.id },
    }
  })
}

const { lang, slug } = Astro.params as { lang: string; slug?: string }
const slugParts = slug ? slug.split("/") : []
const entryId = `${lang}/${slugParts.length ? slugParts.join("/") : "index"}`

const entry = await getEntry("projects", entryId)
if (!entry) throw new Error(`Project not found: ${entryId}`)
const { Content } = await render(entry)

const layoutEntryId = `${lang}/BaseLayout`
const layoutEntryData = await getEntryOrFallback("pages", layoutEntryId)

const projectEntryId = `${lang}/ProjectSlug`
const projectEntryData = await getEntryOrFallback("pages", projectEntryId)
---

<BaseLayout
  className="flex min-h-screen w-full flex-col items-center justify-center gap-4 bg-silver-1000 p-4 pt-8 md:justify-start md:gap-8 md:p-16"
  baseLang={layoutEntryData.data}
  pageName={entry.data.title}
>
  <div class="flex flex-col items-center gap-4 md:gap-8">
    <div class="flex w-full flex-col items-start md:w-[90%]">
      <span>
        <a
          class="flex flex-row items-center gap-2 font-body text-silver-400/80 duration-150 hover:text-silver-300"
          href={`/${lang}/projects`}
        >
          <IoMdArrowRoundBack className="text-xl text-green-300/80" />
          {projectEntryData.data.back}</a
        >
      </span>
    </div>

    <div class="grid w-[95%] grid-cols-1 gap-6 md:w-[90%] md:grid-cols-[400px_auto] md:gap-8">
      <article class="order-1 w-full md:order-2">
        <div class="prose">
          <Content />
        </div>
      </article>

      <div class="order-2 flex w-full justify-center md:order-1 md:block md:w-auto">
        <RepoCard client:load data={entry.data} langData={projectEntryData.data} />
      </div>
    </div>
  </div>
</BaseLayout>
